*{
    font-family: 'Newsreader', serif;
}
body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: orange;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

}

.navbar li a{
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar button{
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
}

form input[type=text]{
    padding: 10px;
    font-size: 20px;
    border: none;
}

/* main section */
main{
    margin: 0 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#newsHeader{
    font-size: 28px;
    font-weight: bold;
}

.card{
    background-color: lightgrey;
    border-radius: 5px;
    box-shadow: 5px 10px white;
    width: 400px;
    padding: 20px;
    font-size: 20px;
    margin: 50px 0;
}

.card a{
    text-decoration: none;
}

.card a:hover{
    color: orange;
}

.card img{
    max-height: 100%;
    max-width: 100%;
    border-bottom: 10px solid black;
}

.card-info .title{
    line-height: 30px;
    font-size: 20px;
}

/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

footer h3{
    font-size: 30px;
    font-weight: lighter;
}

footer ul{
    list-style-type: none;
    line-height: 40px;
}

footer li > a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

footer li > a:hover{
    color: orange;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    text-align: left;
}